$('#modalClientes').modal('toggle');
$('#tablaClientes').append(
    '<tr id="cliente_<%= @cliente.id %>" ><td><%= @cliente.name %></td><td><%= @cliente.direction %></td><td><%= @cliente.email %></td><td><%= @cliente.statusClient %></td><td><%= @cliente.rolUser %></td><td><%= link_to 'editar', edit_client_path(@cliente), html_options = {class: "btn btn-info btn-xs", remote: true} %> <%= link_to "Borrar", @cliente, remote: true, method: :delete, data: { confirm: "¿Borrar cliente: #{@cliente.name}?"}, class: "btn btn-danger btn-xs" %></td></tr>'
);