<%= form_for @order, { remote: true, multiple: true }  do |f| %>

    <div class="form-group">
      <h4 class="control-label">Datos del pedido:</h4>
    </div>

    <div class="item form-group<%= @order.errors[:date].any? ? ' has-error has-feedback' : '' %>">
      <%= f.label :date, "Fecha de la orden: " %>
      <div class="input-group">
        <%= f.text_field :date, {:class=> "form-control", :placeholder=>"Introduzca la fecha de la order..."} %>        
        <%if @order.errors[:date].any? %>
          <p class="bg-danger"><%= @order.errors[:date].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
    </div>

    <div class="item form-group<%= @order.errors[:client].any? ? ' has-error has-feedback' : '' %>">
      <%= f.label :client, "Cliente: " %>
      <div class="input-group">
        <%= collection_select(:order, :client_id, @clients, :id, :name, {:prompt => 'Seleccione cliente'}, { class: "form-control"})%>        
        <%if @order.errors[:client].any? %>
          <p class="bg-danger"><%= @order.errors[:client].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
    </div>

    <div class="item form-group<%= @order.errors[:dish].any? ? ' has-error has-feedback' : '' %>">
      <%= f.label :dish, "Plato: " %>
      <div class="input-group">
        <%= collection_select(:order, :dish_id, @dishes, :id, :name, {:prompt => 'Seleccione cliente'}, { class: "form-control"})%>        
        <%if @order.errors[:dish].any? %>
          <p class="bg-danger"><%= @order.errors[:dish].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
    </div>

    <div class="item form-group<%= @order.errors[:quantity].any? ? ' has-error has-feedback' : '' %>">
      <%= f.label :quantity, "Cantidad de platos: " %>
      <div class="input-group">
        <%= f.text_field :quantity, {:class=> "form-control", :placeholder=>"Introduzca la cantidad de platos.."} %>        
        <%if @order.errors[:quantity].any? %>
          <p class="bg-danger"><%= @order.errors[:quantity].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
    </div>

    <div class="item form-group<%= @order.errors[:statusOrder].any? ? ' has-error has-feedback' : '' %>">
      <%= f.label :statusOrder, "Estado cuenta: " %>
      <div class="input-group">
        <%= f.select(:statusOrder, options_for_select(statusOrders, @order.statusOrder), {prompt: "Seleccione"}, class: 'form-control' )%>        
        <%if @order.errors[:statusOrder].any? %>
          <p class="bg-danger"><%= @order.errors[:statusOrder].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
    </div>


    <div class="actions col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
      <%= f.submit @order.new_record? ? "Crear orden" : "Actualizar orden", :class => "btn btn-success"%>
    </div>  
  <% end %>
