<%= form_for @dish, { remote: true, multipart: true }  do |f| %>

    <div class="form-group">
      <h4 class="control-label">Datos del plato:</h4>
    </div>

    <div class="item form-group<%= @dish.errors[:picture].any? ? ' has-error has-feedback' : '' %>">
      <%= image_tag(@dish.picture.url, size: "150x150") if @dish.picture? %>
      <div class="input-group">
        <%= f.file_field :picture, {:class=> "form-control" } %>        
        <%if @dish.errors[:picture].any? %>
          <p class="bg-danger"><%= @dish.errors[:picture].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
    </div>

    <div class="item form-group<%= @dish.errors[:name].any? ? ' has-error has-feedback' : '' %>">
      <%= f.label :name, "Nombre del plato: " %>
      <div class="input-group">
        <%= f.text_field :name, {:class=> "form-control", :placeholder=>"Introduzca el nombre del plato..."} %>        
        <%if @dish.errors[:name].any? %>
          <p class="bg-danger"><%= @dish.errors[:name].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
    </div>

    <div class="item form-group<%= @dish.errors[:description].any? ? ' has-error has-feedback' : '' %>">
      <%= f.label :description, "Descripción del plato: " %>
      <div class="input-group">
        <%= f.text_area :description, {class: "form-control", :placeholder=>"Introduzca la descripción del plato..."} %>
        <%if @dish.errors[:description].any? %>
          <p class="bg-danger"><%= @dish.errors[:description].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
    </div>

    <div class="item form-group<%= @dish.errors[:price].any? ? ' has-error has-feedback' : '' %>">
      <%= f.label :price, "precio del plato: " %>
      <div class="input-group">
        <%= f.number_field :price, {class: "form-control", :placeholder=>"precio del plato"} %>
        <%if @dish.errors[:price].any? %>
          <p class="bg-danger"><%= @dish.errors[:price].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
    </div>

    <div class="item form-group<%= @dish.errors[:existence].any? ? ' has-error has-feedback' : '' %>">
      <%= f.label :existence, "Stock inicial: " %>
      <div class="input-group">
        <%= f.number_field :existence, {class: "form-control", :placeholder=>"Stock inicial"} %>
        <%if @dish.errors[:existence].any? %>
          <p class="bg-danger"><%= @dish.errors[:existence].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
    </div>
    <div class="actions col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
      <%= f.submit @dish.new_record? ? "Crear plato" : "Actualizar plato", :class => "btn btn-success"%>
    </div>  
  <% end %>