<h1 class="h3 mb-2 text-gray-800">Platos</h1>
<div>  
  <%= link_to new_dish_path, { remote: true, class: "btn btn-info" }  do %>
    <span class="fas fa-plus-square" ></span>
  <% end %>
</div>
<br />
<div class="card shadow mb-4">
<div class="card-body">
    <div class="table-responsive">
    <table class="table table-bordered" id="tablaDishes" width="100%" cellspacing="0">
        <thead>
        <tr>
            <th></th>
            <th>Nombre plato</th>
            <th>Existencia</th>
            <th>Precio</th>
        </tr>
        </thead>
        <tbody>
            <% @dishes.each do |dish| %>
            <tr id="dish_<%= dish.id %>" >
                <td><%= image_tag(dish.picture.url, size: "50x50", class: "rounded-circle") if dish.picture? %></td>
                <td><%= dish.name %></td>
                <td><%= dish.existence %></td>
                <td>$<%= dish.price %></td>
                <td>
                <%= link_to "editar", edit_dish_path(dish), html_options = {class: "btn btn-info btn-xs", remote: true} %>
                <%= link_to "Borrar", dish, remote: true, method: :delete, data: { confirm: "¿Borrar plato: #{dish.name}?"}, class: "btn btn-danger btn-xs" %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
    </div>
  </div>
</div>
<%= render 'modal_dishes' %>